<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SimpleApp</title>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->

  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css stylesheets/application.css -->
    <link rel="stylesheet" href="stylesheets/application.css">
  <!-- endbuild -->

  <!-- build:js javascripts/vendor.js -->
  <!-- bower:js -->
  <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js javascripts/application.js -->
    <script type="text/javascript" src="javascripts/application.js"></script>
  <!-- endbuild -->
</head>
<body>

</body>
</html>
